.navbar-dark {
	.navbar-nav {
		.nav-link {
			padding: .5rem 1.5rem;
			text-transform: uppercase;
			color: $light;
			transition: 0.2s;

			&:hover {
				background-color: $primary;
			}
		}
	}	
}
